{% import 'template_label.jinja' as template_label %}
{% macro field(data) %}
ABACAXI: {{data}}
{% for field in data %}
{% if field.FieldType == 'ftString' %}
{{template_label.label(field) | indent(0, True)-}}
{% endif %}
{% endfor %}
{% endmacro %}



