{% macro label(data) %}
object hbox{{ data.Name | to_camel_case}}: TFHBox
  Left = 0
  Top = 0
  Width = 77
  Height = 27
  AutoWrap = False
  BevelKind = bkTile
  BevelOuter = bvNone
  BorderStyle = stNone
  Caption = ''
  Padding.Top = 10
  Padding.Left = 0
  Padding.Right = 0
  Padding.Bottom = 0
  TabOrder = 0
  Margin.Top = 0
  Margin.Left = 0
  Margin.Right = 0
  Margin.Bottom = 0
  Spacing = 1
  Flex.Vflex = ftFalse
  Flex.Hflex = ftFalse
  Scrollable = False
  WOwner = FrInterno
  WOrigem = EhNone
  BoxShadowConfig.HorizontalLength = 10
  BoxShadowConfig.VerticalLength = 10
  BoxShadowConfig.BlurRadius = 5
  BoxShadowConfig.SpreadRadius = 0
  BoxShadowConfig.ShadowColor = clBlack
  BoxShadowConfig.Opacity = 75
  VAlign = tvTop
  BorderRadius.TopLeft = 0
  BorderRadius.TopRight = 0
  BorderRadius.BottomRight = 0
  BorderRadius.BottomLeft = 0
  object lbl{{data.Name | to_camel_case}}: TFLabel
    Left = 5
    Top = 0
    Width = 71
    Height = 18
    Align = alRight
    Anchors = []
    Caption = '{{label.Caption}}'
    Font.Charset = DEFAULT_CHARSET
    Font.Color = clWindowText
    Font.Height = -15
    Font.Name = 'Tahoma'
    Font.Style = []
    ParentFont = False
    WOwner = FrInterno
    WOrigem = EhNone
    VerticalAlignment = taVerticalCenter
    WordBreak = False
    MaskType = mtText
  end
end
{% endmacro %}