{% macro string(data, tabela) %}
object ed{{data.Name | to_camel_case}}: TFString
  Left = 77
  Top = 0
  Width = 150
  Height = 24
  Hint = ''
  Table = {{tabela}}
  FieldName = '{{data.Name}}'
  HelpCaption = ''
  Help = ''
  TabOrder = 5
  AccessLevel = 0
  Flex = True
  WOwner = FrInterno
  WOrigem = EhNone
  Required = False
  Prompt = ''
  Constraint.Expression = 'value is null or trim(value) = '#39#39
  Constraint.Message = 'Campo {{data.Caption | title}}, preenchimento '#233' obrigat'#243'rio'
  Constraint.CheckWhen = cwImmediate
  Constraint.CheckType = ctExpression
  Constraint.FocusOnError = True
  Constraint.GroupName = 'regrasCheck{{tabela | capitalize}}'
  Constraint.EnableUI = True
  Constraint.Enabled = False
  Constraint.FormCheck = True
  IconDirection = idLeft
  CharCase = ccNormal
  Pwd = False
  Maxlength = 100
  Align = alLeft
  Font.Charset = DEFAULT_CHARSET
  Font.Color = clWindowText
  Font.Height = -13
  Font.Name = 'Tahoma'
  Font.Style = []
  SaveLiteralCharacter = False
  TextAlign = taLeft
end
{% endmacro %}